.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__aE8No {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: CwXlvdIEkmHZ */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__aE8No > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__aE8No > :global(.__wab_flex-container) > *,
.freeBox__aE8No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aE8No > :global(.__wab_flex-container) > picture > img,
.freeBox__aE8No
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aE8No {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: CwXlvdIEkmHZ */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aE8No > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aE8No > :global(.__wab_flex-container) > *,
  .freeBox__aE8No > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__aE8No > :global(.__wab_flex-container) > picture > img,
  .freeBox__aE8No
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__gfUx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__gfUx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gfUx > :global(.__wab_flex-container) > *,
.freeBox__gfUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gfUx > :global(.__wab_flex-container) > picture > img,
.freeBox__gfUx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gfUx {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gfUx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gfUx > :global(.__wab_flex-container) > *,
  .freeBox__gfUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gfUx > :global(.__wab_flex-container) > picture > img,
  .freeBox__gfUx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__rnvJ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__upsyn {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__upsyn {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text__fs3KI {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fs3KI {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__o7Zp8 {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o7Zp8 {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__xwzXd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xwzXd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__xwzXd > :global(.__wab_flex-container) > *,
.freeBox__xwzXd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwzXd > :global(.__wab_flex-container) > picture > img,
.freeBox__xwzXd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__dv5Nu:global(.__wab_instance) {
  position: relative;
}
.svg__h1CYr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lh3Np {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__bK9M:global(.__wab_instance) {
  position: relative;
}
.svg__zjFVs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__h83L3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__eBgAt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__ebmm9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ebmm9 > picture > img {
  object-fit: cover;
}
.img__ebmm9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__b9Po7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__b9Po7 {
    width: 100%;
  }
}
.freeBox__pwVNf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pwVNf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__pwVNf > :global(.__wab_flex-container) > *,
.freeBox__pwVNf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pwVNf > :global(.__wab_flex-container) > picture > img,
.freeBox__pwVNf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pwVNf {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pwVNf > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__rgXwl {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__ae3Ik {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__ugzBi:global(.__wab_instance) {
  position: relative;
}
.svg__cFe0V {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__uIKqm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xEbgi:global(.__wab_instance) {
  position: relative;
}
.svg__liSg {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___3KVA {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__t5UkQ:global(.__wab_instance) {
  position: relative;
}
.svg__unOm7 {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__xv6As {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__uD9Sj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uD9Sj {
    width: 100%;
  }
}
.img__dD4R {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__dD4R > picture > img {
  object-fit: cover;
}
.img__dD4R > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__vmt7S {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__vmt7S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vmt7S > :global(.__wab_flex-container) > *,
.freeBox__vmt7S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vmt7S > :global(.__wab_flex-container) > picture > img,
.freeBox__vmt7S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard___9WsCd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5F1Qw {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg__tfaeM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__objyi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0QR2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg___7Nhdt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__j1KwI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__isLbL {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg__w5DKj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__xsAxN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__l5Gjr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg__n2Uqw {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8Xiz8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3CiV {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg__b7T99 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__eApst:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fbcM {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: ZEu0DZzfGatZ */;
}
.svg___1EJbB {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___5Avtt {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: D8OAbXDuW9q4 */;
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__zx9Kb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zx9Kb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__zx9Kb > :global(.__wab_flex-container) > *,
.freeBox__zx9Kb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zx9Kb > :global(.__wab_flex-container) > picture > img,
.freeBox__zx9Kb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___8Thwu {
  display: flex;
  flex-direction: row;
}
.freeBox___8Thwu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___8Thwu > :global(.__wab_flex-container) > *,
.freeBox___8Thwu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Thwu > :global(.__wab_flex-container) > picture > img,
.freeBox___8Thwu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__kx8O3 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__x2T9U {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__iVTv {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__c1Tes {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__lySma {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
