.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox___8OSYu {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: CwXlvdIEkmHZ */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox___8OSYu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___8OSYu > :global(.__wab_flex-container) > *,
.freeBox___8OSYu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OSYu > :global(.__wab_flex-container) > picture > img,
.freeBox___8OSYu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__capRr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__capRr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__capRr > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__capRr > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__capRr > :global(.__wab_flex-container) > *,
.columns__capRr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__capRr > :global(.__wab_flex-container) > picture > img,
.columns__capRr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__capRr {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__capRr > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__capRr > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__capRr > :global(.__wab_flex-container) > *,
  .columns__capRr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__capRr > :global(.__wab_flex-container) > picture > img,
  .columns__capRr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__gTebB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gTebB {
    width: 100%;
  }
}
.freeBox__tftj5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tftj5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tftj5 > :global(.__wab_flex-container) > *,
.freeBox__tftj5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tftj5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tftj5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tftj5 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tftj5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__y2YFb {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__b6S31 {
  position: relative;
  text-align: left;
}
.bullet__bCpib:global(.__wab_instance) {
  position: relative;
}
.bullet__vkzgO:global(.__wab_instance) {
  position: relative;
}
.bullet__pycyy:global(.__wab_instance) {
  position: relative;
}
.text__jjInK {
  position: relative;
  text-align: left;
}
.freeBox__rf6Su {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__rf6Su > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__rf6Su > :global(.__wab_flex-container) > *,
.freeBox__rf6Su > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rf6Su > :global(.__wab_flex-container) > picture > img,
.freeBox__rf6Su
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rf6Su {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rf6Su > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rf6Su > :global(.__wab_flex-container) > *,
  .freeBox__rf6Su > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rf6Su > :global(.__wab_flex-container) > picture > img,
  .freeBox__rf6Su
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__vabuu:global(.__wab_instance) {
  position: relative;
}
.svg__c7YM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jqlJk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rhj6U:global(.__wab_instance) {
  position: relative;
}
.svg__t6Wk3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__o1Q4K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__vyDPk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vyDPk {
    width: 100%;
  }
}
.img__up3St {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__up3St > picture > img {
  object-fit: cover;
}
.img__up3St > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___9KhZ5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___9KhZ5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___9KhZ5 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___9KhZ5 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___9KhZ5 > :global(.__wab_flex-container) > *,
.columns___9KhZ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___9KhZ5 > :global(.__wab_flex-container) > picture > img,
.columns___9KhZ5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9KhZ5 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9KhZ5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9KhZ5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___9KhZ5 > :global(.__wab_flex-container) > *,
  .columns___9KhZ5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___9KhZ5 > :global(.__wab_flex-container) > picture > img,
  .columns___9KhZ5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__tIv8K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tIv8K {
    width: 100%;
  }
}
.img__ivzJq {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__ivzJq > picture > img {
  object-fit: cover;
}
.img__ivzJq > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__roqb2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__roqb2 {
    width: 100%;
  }
}
.freeBox___2D33 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___2D33 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___2D33 > :global(.__wab_flex-container) > *,
.freeBox___2D33 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2D33 > :global(.__wab_flex-container) > picture > img,
.freeBox___2D33
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2D33 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2D33 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___3WuoI {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text___5PPuq {
  position: relative;
  text-align: left;
}
.bullet__zk0Tk:global(.__wab_instance) {
  position: relative;
}
.bullet___12IaF:global(.__wab_instance) {
  position: relative;
}
.bullet__yNvi2:global(.__wab_instance) {
  position: relative;
}
.text__jKtWy {
  position: relative;
  text-align: left;
}
.freeBox___5Edjm {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___5Edjm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___5Edjm > :global(.__wab_flex-container) > *,
.freeBox___5Edjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Edjm > :global(.__wab_flex-container) > picture > img,
.freeBox___5Edjm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Edjm {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Edjm > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Edjm > :global(.__wab_flex-container) > *,
  .freeBox___5Edjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Edjm > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Edjm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__bjCw0:global(.__wab_instance) {
  position: relative;
}
.svg__eGr5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3Df7G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jZgXz:global(.__wab_instance) {
  position: relative;
}
.svg__lSc6Y {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bW2U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
