.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___5LSuP {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: D8OAbXDuW9q4 */;
}
.freeBox__gtdDh {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: CwXlvdIEkmHZ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__gtdDh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__gtdDh > :global(.__wab_flex-container) > *,
.freeBox__gtdDh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtdDh > :global(.__wab_flex-container) > picture > img,
.freeBox__gtdDh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtdDh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtdDh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtdDh > :global(.__wab_flex-container) > *,
  .freeBox__gtdDh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gtdDh > :global(.__wab_flex-container) > picture > img,
  .freeBox__gtdDh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__jvRu7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__jvRu7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jvRu7 > :global(.__wab_flex-container) > *,
.freeBox__jvRu7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jvRu7 > :global(.__wab_flex-container) > picture > img,
.freeBox__jvRu7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__fdPAs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0Ub2Y {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.freeBox___4B63T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__rFTgj {
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__rFTgj:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__a65H {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
}
.link__lk8Wl {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__lk8Wl:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__ctNJy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ctNJy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ctNJy > :global(.__wab_flex-container) > *,
.freeBox__ctNJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ctNJy > :global(.__wab_flex-container) > picture > img,
.freeBox__ctNJy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctNJy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctNJy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctNJy > :global(.__wab_flex-container) > *,
  .freeBox__ctNJy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ctNJy > :global(.__wab_flex-container) > picture > img,
  .freeBox__ctNJy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__htlRu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__htlRu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__htlRu > :global(.__wab_flex-container) > *,
.freeBox__htlRu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__htlRu > :global(.__wab_flex-container) > picture > img,
.freeBox__htlRu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__t4K5M {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__cgNy7 {
  font-size: 14px;
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
}
.root .link__cgNy7:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__sz0R2 {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__sz0R2:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___43R {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___43R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5LE7P {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___5LE7P:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__bzC4R {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__bzC4R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__mo0IR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__mo0IR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mo0IR > :global(.__wab_flex-container) > *,
.freeBox__mo0IR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mo0IR > :global(.__wab_flex-container) > picture > img,
.freeBox__mo0IR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__c3Kh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__m4Y7F {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__m4Y7F:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__ymG2O {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__ymG2O:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8OVx {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___8OVx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__z8QhG {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__z8QhG:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__dd1C {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__dd1C:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox___9FuKb {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___9FuKb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9FuKb > :global(.__wab_flex-container) > *,
.freeBox___9FuKb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9FuKb > :global(.__wab_flex-container) > picture > img,
.freeBox___9FuKb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xmYiF {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___9UjfV {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___9UjfV:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__fWe2G {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__fWe2G:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__gJwJs {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__gJwJs:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___8BqM0 {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___8BqM0:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___3OdDp {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link___3OdDp:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__czOeG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__czOeG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__czOeG > :global(.__wab_flex-container) > *,
.freeBox__czOeG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__czOeG > :global(.__wab_flex-container) > picture > img,
.freeBox__czOeG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__rb6T8 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__aHmps {
  position: relative;
  font-size: 14px;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__mwilo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__i7AJr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  width: 1em;
  height: 1em;
}
.svg___9EdM {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.svg__pLkzx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__ukNFd {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: D8OAbXDuW9q4 */;
}
.freeBox__lgPzl {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: CwXlvdIEkmHZ */;
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__lgPzl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgPzl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgPzl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lgPzl > :global(.__wab_flex-container) > *,
  .freeBox__lgPzl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lgPzl > :global(.__wab_flex-container) > picture > img,
  .freeBox__lgPzl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__wU7YL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__uUyXv {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  height: auto;
  font-size: 14px;
}
.root .link__uUyXv:hover {
  text-decoration-line: underline;
}
.link__jaY4O {
  position: relative;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  font-size: 14px;
}
.root .link__jaY4O:hover {
  text-decoration-line: underline;
}
.text__hltpY {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: #666666 /* plasmic-token: OeiAUCIh06Gd */;
  display: inline-block;
}
.freeBox__kcfPz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kcfPz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kcfPz > :global(.__wab_flex-container) > *,
.freeBox__kcfPz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kcfPz > :global(.__wab_flex-container) > picture > img,
.freeBox__kcfPz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__qdjub:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kZkqj {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__kZkqj:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__tgNYo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tmKrX {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__tmKrX:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__o3Khf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8K1S8 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg___8K1S8:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
